/penv

# Virtual Environment
venv/
penv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# IDE
.vscode/
.idea/
*.swp

# Model files
*.pkl
*.h5
*.model

# Data
# *.csv
*.xlsx
*.xls

# Distribution
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints